body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; /* Light background for better visibility */
}
#main_canvas {
    background-color: white;
    border: 2px solid black;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.151);
    height: auto; /* Keep aspect ratio */
}
#title-div{
    position: absolute;
    top: 0% ;
}
#title{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-decoration: underline;
    font-weight: bold;
}
#div_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}